<div class="container-fluid">
  <div class="title-section">
    <h1>Aktuelles aus der Abteilung</h1>
    <button mat-mini-fab (click)="create()" color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="mb-3">
    <button mat-button [color]="this.isFilterActive ? 'accent' : 'black'" (click)="toggleFilter()">
      <mat-icon>filter_list</mat-icon> Filter
    </button>
    <button mat-button [color]="!isListView ? 'accent' : 'black'" (click)="toggleViewMode('grid')">
      <mat-icon>grid_on</mat-icon> Gitter Ansicht
    </button>
    <button mat-button [color]="isListView ? 'accent' : 'black'" (click)="toggleViewMode('list')">
      <mat-icon>list</mat-icon> Listen Ansicht
    </button>
  </div>
  <div *ngIf="isFilterActive" class="mb-3">
    <app-article-filter></app-article-filter>
  </div>
  <div *ngIf="articles$ | async as articles">
    <ng-container
      *ngIf="articles.length; then detailTemplate; else fallbackTemplate"
    ></ng-container>
    <ng-template #detailTemplate>
      <div [ngClass]="isListView ? 'list-view' : 'grid-view'">
        <div *ngFor="let article of articles">
          <app-article-card [article]="article" [isListElement]="isListView"> </app-article-card>
        </div>
      </div>
    </ng-template>
    <ng-template #fallbackTemplate>
      <div class="not-found-section mt-5">
        <img
          class="not-found-image"
          src="../../../../assets/images/no_data.svg"
          alt="Bild: Keine Daten gefunden"
        />
        <p class="not-found-header">Für deine Suche wurden keine Posts gefunden.</p>
      </div>
    </ng-template>
  </div>
</div>
