<div class="container-fluid row p-4">
  <div class="col-12 col-lg-5 mr-lg-5">
    <h1 class="mb-4">Neuer Beitrag</h1>
    <form [formGroup]="articleForm" (ngSubmit)="save()">
      <mat-form-field class="w-100">
        <input matInput placeholder="Titel" formControlName="title">
      </mat-form-field>
      <mat-form-field class="w-100">
        <textarea matInput matTextareaAutosize placeholder="Beschreibung" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Wähle einen Tag</mat-label>
        <mat-select formControlName="tag">
          <mat-option *ngFor="let tag of tags" [value]="tag.name">
            {{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="w-25 mr-3" type="submit" mat-raised-button color="primary"
        [disabled]="articleForm.invalid">Speichern</button>
      <button class="w-25" mat-raised-button (click)="abort()">Abbrechen</button>
    </form>

    <app-upload-form></app-upload-form>
  </div>
  <div class="col-12 col-lg-6">
    <h2 class="mb-4">Vorschau</h2>
    <app-article-card [article]="article"></app-article-card>
  </div>
</div>
