.article-filter-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(160, 20%, 97%);
  border-radius: 4px;
}

.tag-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media only screen and (max-width: 700px) {
  .tag-section {
    button {
      margin-bottom: 0.25rem;
    }
  }
}