<div class="article-filter-container p-3">
  <mat-form-field>
    <mat-label>Suche</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let key of searchKeyWords"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(key)"
      >
        {{ key }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <div class="tag-section">
    <button
      mat-raised-button
      *ngFor="let tag of tags"
      [color]="tag.active ? 'primary' : 'white'"
      class="mr-1"
    >
      {{ tag.name }}
    </button>
  </div>
</div>
