<div class="nuenenen-container container-fluid">
  <h1>Neuer Beitrag erstellen</h1>
  <div class="new-article-form">
    <form class="form-section" [formGroup]="articleForm" (ngSubmit)="save()">
      <mat-form-field class="w-100">
        <input matInput placeholder="Titel" formControlName="title" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Bild" formControlName="image" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Tags" formControlName="tags" />
      </mat-form-field>
    </form>
    <div class="example-card">
      <app-article-card [article]="article"></app-article-card>
    </div>
  </div>
  <div class="footer">
    <button
      class="mr-3"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="articleForm.invalid"
    >
      Speichern
    </button>
    <button class="mr-3" mat-raised-button (click)="abort()">Abbrechen</button>
  </div>
</div>
