<div class="nuenenen-container container-fluid">
  <h1>Neuer Beitrag erstellen</h1>
  <div class="new-article-form">
    <form class="form-section" [formGroup]="articleForm">
      <mat-form-field class="w-100">
        <input matInput placeholder="Titel" formControlName="title" />
      </mat-form-field>
      <div class="w-100">
        <editor
          apiKey="j9whyve2yrokj4admnzdfbhh91b46h0g3lhqhjfprw4jnava"
          formControlName="description"
          [init]="{
            height: 500,
            menubar: false,
            plugins: plugins,
            toolbar: toolbar
          }"
        ></editor>
      </div>
      <mat-form-field class="w-100">
        <input matInput placeholder="Bild" formControlName="image" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-select placeholder="Tags" formControlName="tags" name="tag">
          <mat-option *ngFor="let tag of tags$ | async" [value]="tag.name">
            {{ tag.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="example-card">
      <app-article-card [article]="article"></app-article-card>
    </div>
  </div>
  <div class="footer">
    <button
      class="mr-3"
      mat-raised-button
      color="primary"
      [disabled]="articleForm.invalid"
      (click)="save()"
    >
      Speichern
    </button>
    <button class="mr-3" mat-raised-button (click)="abort()">Abbrechen</button>
  </div>
</div>
