.new-article-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.form-section {
  padding: 1rem;
  background-color: hsl(160, 20%, 97%);
  border-radius: 4px;
}
.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  height: 4rem;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsl(0, 0%, 90%);
}
@media only screen and (max-width: 1200px) {
  .new-article-form {
    grid-template-columns: repeat(1, 1fr);
  }
}
