<mat-card class="card" (click)="open(article.id)">
  <img
    *ngIf="!isListElement"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <h5 class="card-title">{{ article.title }}</h5>
    <div class="card-description" [innerHTML]="article.description | slice: 0:150"></div>
  </mat-card-content>

  <div class="footer">
    <div>
      <img class="avatar" [src]="article.author_image" alt="author_image" />
      <strong>{{ article.author }}</strong>
    </div>
    <p>{{ article.created | timeAgo }}</p>
  </div>
</mat-card>
