.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 200px;
  border: 2px dashed hsl(235, 66%, 30%);
  border-radius: 5px;
  background: hsl(0, 0%, 100%);
  margin: 10px 0;

  &.hovering {
    border: 2px solid hsl(235, 66%, 30%);
    color: hsl(0, 0%, 85%) !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
