.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-inverse {
  background-color: transparent;
  h1 {
    font-weight: 100;
    color: black;
  }
}

.nav-items {
  margin-right: auto;
}

h1 {
  font-weight: 100;
}

.nav-button {
  width: 100px;
}

a {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: none;
}

.is-active {
  font-weight: bold;
}
