.article-list {
    padding-top: 75px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(200px, auto);
}

@media only screen and (max-width: 1200px) {
    .grid-view {
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media only screen and (max-width: 600px) {
    .grid-view {
        grid-template-columns: repeat(1, 1fr);
    }
  }