<div #section1 class="container-fluid home-screen">
  <div class="home-description p-3">
    <h1 class="mb-3">Herzlich Willkommen!</h1>
    <p class="home-text mb-5">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
      justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
      ipsum dolor
    </p>
    <button class="kontakt-button" mat-raised-button color="primary">Kontakt</button>
  </div>
  <div class="expand-more mb-5">
    <mat-icon class="expand-icon" (click)="fullPageScroll(section2, 2)">expand_more</mat-icon>
  </div>
</div>
<div class="home-info-section nuenenen-container" #section2>
  <div class="next-event-section">
    <app-next-events></app-next-events>
  </div>
  <div class="article-section">
    <app-article-list></app-article-list>
  </div>
</div>
