.vertical-center {
  min-height: 94%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 94vh;
  /* 100 -6vh because the ToolBar has 6vh units */

  display: flex;
  align-items: center;
}

.home-screen {
  background: no-repeat top right / contain url(../../../assets/images/home_background.png);
}

.home-image {
  width: 100%;
}
