
.home-screen {
  background: no-repeat top right / contain url(../../../assets/images/home_background.png);
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .home-description {
    margin-top: auto;
    margin-bottom: auto;

    .home-title {
      font-weight: 700;
    }

    .home-text {
      overflow: hidden;
      max-width: 75ch;
      font-weight: 300;
      line-height: 1.5;
      color: hsl(0, 0%, 40%);
    }

    .kontakt-button {
      width: 300px;
    }
  }
  .expand-more {
    justify-content: center;
    display: flex;
    .expand-icon {
      cursor: pointer;
    }
    .expand-icon:active {
      background: hsl(0, 0%, 95%);
      border-radius: 50%;
    }
    .mat-icon{
      height: 100px;
      width: 100px;
      font-size: 100px;
    }
  }
}

.home-info-section {
  padding-top: 75px;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 600px) {
  .kontakt-button {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .home-info-section {
    flex-direction: column;
  }
}


