<div class="container-fluid">
  <div class="row mb-2 align-items-baseline">
    <mat-form-field class="col-12 col-md-2 mr-2">
      <input matInput placeholder="Suche">
    </mat-form-field>
    <button class="mr-3 mb-3" mat-raised-button *ngFor="let filter of filters">{{ filter }}</button>
    <button mat-raised-button (click)="openNewArticlePage()" color="primary">Beitrag
      hinzufügen</button>
  </div>
  <div class="row">
    <div class="col-12 col-md-8" *ngIf="articles$ | async as articles">
      <div *ngFor="let article of articles" class="mb-4">
        <app-article-card [article]="article">
        </app-article-card>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <app-next-events></app-next-events>
    </div>
  </div>
