<div>
  <mat-toolbar color="primary">
    <h1>Pfadi Nünenen</h1>

    <div class="filler"></div>

    <button mat-button>Home</button>

    <button mat-button [matMenuTriggerFor]="abteilung">Abteilung</button>
    <mat-menu #abteilung="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="abteilungSub">Abteilung</button>
      <button mat-menu-item [matMenuTriggerFor]="biber">Biber</button>
      <button mat-menu-item [matMenuTriggerFor]="woelfe">Wölfe</button>
      <button mat-menu-item [matMenuTriggerFor]="pfadi">Pfadi</button>
      <button mat-menu-item [matMenuTriggerFor]="pio">Pio</button>
      <button mat-menu-item [matMenuTriggerFor]="rover">Rover</button>
    </mat-menu>
    <mat-menu #abteilungSub="matMenu">
      <button mat-menu-item>Abteilung Nünenen</button>
    </mat-menu>
    <mat-menu #biber="matMenu">
      <button mat-menu-item>Biberstufe</button>
      <button mat-menu-item>Leiter</button>
      <button mat-menu-item>Kastenzettel</button>
      <button mat-menu-item>QP</button>
      <button mat-menu-item>Bilder</button>
    </mat-menu>
    <mat-menu #woelfe="matMenu">
      <button mat-menu-item>Wolfsstufe</button>
      <button mat-menu-item>Leiter</button>
      <button mat-menu-item>Kastenzettel</button>
      <button mat-menu-item>QP</button>
      <button mat-menu-item>Bilder</button>
    </mat-menu>
    <mat-menu #pfadi="matMenu">
      <button mat-menu-item>Pfadistufe</button>
      <button mat-menu-item>Leiter</button>
      <button mat-menu-item>Kastenzettel</button>
      <button mat-menu-item>QP</button>
      <button mat-menu-item>Bilder</button>
    </mat-menu>
    <mat-menu #pio="matMenu">
      <button mat-menu-item>Piostufe</button>
      <button mat-menu-item>Leiter</button>
      <button mat-menu-item>Kastenzettel</button>
      <button mat-menu-item>QP</button>
      <button mat-menu-item>Bilder</button>
    </mat-menu>
    <mat-menu #rover="matMenu">
      <button mat-menu-item>Roverstufe</button>
      <button mat-menu-item>Leiter</button>
      <button mat-menu-item>Kastenzettel</button>
      <button mat-menu-item>QP</button>
      <button mat-menu-item>Bilder</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="mitmachen">Mitmachen</button>
    <mat-menu #mitmachen="matMenu">
      <button mat-menu-item>Kontaktformular</button>
      <button mat-menu-item>Anmeldeformular</button>
    </mat-menu>

    <button mat-button>Shop</button>

    <div *ngIf="auth.user | async; then authenticated else guest">
      <!-- template will replace this div -->
    </div>


    <!-- User NOT logged in -->
    <ng-template #guest>
      <button mat-button [matMenuTriggerFor]="profil">Profil</button>
      <mat-menu #profil="matMenu">
        <button mat-menu-item>Login</button>
      </mat-menu>
    </ng-template>


    <!-- User logged in -->
    <ng-template #authenticated>
      <button mat-button [matMenuTriggerFor]="profil">Profil</button>
      <mat-menu #profil="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="abteilung">Seiten bearbeiten</button>
        <button mat-menu-item [matMenuTriggerFor]="biber">Gallerie bearbeiten</button>
        <button mat-menu-item [matMenuTriggerFor]="woelfe">Leiter bearbeiten</button>
        <button mat-menu-item [matMenuTriggerFor]="pfadi">Kastenzettel bearbeiten</button>
        <button mat-menu-item [matMenuTriggerFor]="pio">QP bearbeiten</button>
      </mat-menu>
    </ng-template>
  </mat-toolbar>
</div>
