@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-indigo, 900);
$app-accent: mat-palette($mat-pink, A200);
$warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $warn);

// Include the default theme styles.
@include angular-material-theme($app-theme);
