@import './_theme.scss';
@import '~bootstrap/scss/bootstrap';

.nuenenen-container {
  // header has hight of 75px
  padding-top: calc(75px + 1rem);
}
// Make material buttons round
button {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
}

// to remove blue border: https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
button:focus {
  outline: 0;
}

.style-success {
  background-color: green;
  color: white;
}

.style-error {
  background-color: red;
  color: white;
}

h1 {
  font-weight: 700;
}
p {
  overflow: hidden;
  max-width: 75ch;
  line-height: 1.5;
  color: hsl(0, 0%, 40%);
}
