@import './_theme.scss';
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0; //remove
}

.style-success {
  background-color: green;
  color: white;
}

.style-error {
  background-color: red;
  color: white;
}
