.next-events {
  background-color: hsl(160, 20%, 97%);
  border-radius: 4px;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  } 
}
